.contenedor-clase {
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    border-radius: 5%;
    background-color: #FFFFFF;
    border-top: 20px solid #3649F9;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.titulo-clase{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.descripcion-clase{
    margin-bottom: 20px;
}

.descripcion-clase, .detalles-clase{
    margin-left: 15px;
}


.clase:hover{
    cursor: pointer;
}