.contenedor-comentario{
    width: 80%;
    min-height: 20%;
    box-sizing: border-box;
    background-color: rgb(220, 220, 253);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.nombre-comentador{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3649F9;
    border-radius: 10px 10px 0px 0px;
}

.nombre-comentador h4{
    font-size: large;
}

.avatar-comentador{
    margin-right: 10px;
}
.texto-comentario{
    margin-top: 10px;
    padding-left: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.texto-comentario p {
    color: black;
}

