.cabecera-pantalla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtro-clases{
    margin-right: 10px;
}

.filtro-clases .btn-group{
    margin-right: 15px;
}

.estrellas ul li button{
    color: yellowgreen;
}