.contenedor-contratacion{
        display: flex;
        justify-content: space-between;
        width: 90%;
        box-sizing: border-box;
        margin: auto;
        padding: 5px;
}

.datos-contratacion{
    min-width: 75%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.acciones-contratacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    min-width: 20%;
    max-height: 8em;
    background-color: #FFFFFF;
    padding-top: 10px;
    border-radius: 10px;
}

.detalles-contratacion{
    margin-left: 10px;
}

.clase-contratada{
    display: flex;
    justify-content: space-between;
    background-color: #3649F9;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
}

.detalles-contratacion{
    margin-top: 30px;
}

h6 {
    opacity: 0.6;
}

.mensaje-contratador{
    margin-top: 30px;
    padding-bottom: 10px;
}

.estado-contratacion{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.boton-cambiar-estado-contratacion, .boton-eliminar-contratacion{
    min-width: 100%;
    box-sizing: border-box;
    padding-left: 25%;
}

.btn{
    background-color: #5B4FA6;
    color: white;
    border-style: none;
}



