@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://fonts.googleapis.com/css?family=Intern:300);
.fondo{
    position: fixed;
    width: 600px;
    height: 600px;
    left: 50%;
    top: 50%;
    background:  rgba(255, 255, 255, 0.9);
    border-top: 20px solid #3649F9;
    transform: translate(-50%, -50%);
    border-radius: 14px;
}

.background{
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image:url('../fondo.jpg');
}
.title{
    position: absolute;
    left: 30%;
    top:8%;
    bottom: 91.62%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    color:#3649F9
}

.texto{
    position: relative;
    top: 8%;
    left:8%;
    font-family: 'Poppins';
    font-style: normal;
    color: #3649F9;
}

.input{
    position: relative;
    top: 8%;
    left:8%;
    width: 80%;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    border-color: #5B4FA6;
}

.boton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 28px;
    gap: 20px;
    position: relative;
    width: 30%;
    background: #5B4FA6;
    border-radius: 10px;
    border-color: white;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    height: 10%;
    text-align: center;
    text-indent: 35%;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.vinculos{
    position: relative;
    top: 8%;
    color:#3649F9;
    left: 58%
}

.registro{
    position: relative;
    left: 33%;
    top: 20%;
    color:#3649F9;
    transform: translate(-50%, -50%);
}

.contenedorError {
    position: relative;
    background: #F4BEBE;
    border-width: 1;
    height: 5%;
    width: 60%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #9D0B0B;  
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
  }

 .error {
    font-family: 'Poppins';
    position: relative;
    font-weight: bold;
    font-size: 13px;
    left: 15%;
    top: 11%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #9D0B0B
  }