.contenedor-menu{
    height: 100px;
    width: 100%;
    display: flex;
}
nav{
    width: 100%;
}

.titulo-menu{
    margin-left: 20px;
}

.items-menu{
    margin-left: 45%;
}

.btn-menu{
    margin-left: 10px;
    width: 140px;
}