.menu{
    height: 100px;
    width: 100%;
    display: flex;
}
nav{
    width: 100%;
}

.titulo{
    margin-left: 20px;
}

.itemsMenu{
    margin-left: 45%;
}

.btn{
    margin-left: 10px;
    width: 140px;
}