.cabecera-pantalla-profesor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton-crear-clase{
    margin-right: 60px;
}

.boton-crear-clase button{
    background-color: #5B4FA6;
    color: white;
    border-style: hidden;
}

.boton-crear-clase button:hover{
    background-color: #3649F9;
}