.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: default;
    z-index: 3;

}

.popup-inner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 640px;
    height: 45%;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
}

.caja-btn-popup{
    display: flex;
    justify-content: end;
}

.close-btn{
    border-style: none;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 10px;
}

.caja-texto-popup{
    margin-top: 20px;
    margin-left: 10px;
}